* {
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

:root {
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 800;
    --bg-color: #011638;
    --white: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #f4f4f6;
}